// Set variables for Bumla that change the breakpoints
$gap: 64px !default
$tablet: 625px !default
$desktop: 672px + (2 * $gap) !default

// Set variables for Bulma that change the colour
$red: rgb(255,70,70);

// Include Bulma
@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// Include FontAwesome
$fa-font-path: "../webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

// Custom styles
.button{
  margin-right: 0.0rem !important;
}

tr td:first-child{
  width: 200px;;
}

main.container{
  padding-left: 10px;
  padding-right: 10px;
}
